alembic
authlib
httpx2
itsdangerous
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary>=3.1
pydantic-settings
python-multipart
python-jose[cryptography]
bcrypt
pydantic[email]
pandas
openpyxl
pytest